#toggle:checked~ label i:nth-child(2){display: block;}
 #toggle:checked~ label i:first-child{display:none;}
 #toggle:not(checked)~ label i:first-child(){display: block;}
 #toggle:not(checked)~ label i:nth-child(2){display:none;}
 #toggle:checked~ul{display: block;}
 #toggle:checked~ul div li a{display:block;}
 #data-hora{
   font-size:xx-large;
   padding: 5px;
 }
  .menu{display: flex;flex-wrap: wrap;align-items: center;width: 100%;height:100%;position: fixed;display: none;}
  
  @media screen and (max-width:600px) {.men1{margin-left: 20%;margin-bottom:30%;}.aba{margin-top: 40%;}.seta{width: 14% !important;;}
   .v{margin-left:16%;margin-top:20px;}
   .perfil{width: 13% !important;;}
   .but3{width: 20% !important;margin-right:2px;}
   .but2{margin-left:10px;}
   .pi{float: left;margin-left:20px;}
   .tarefa{width: 90%!important;margin-left:0px !important;}
   
}
   i{font-size: 200%;}
#toggle{display: none;}
   ul div li a{display: none;}
  body{background-color: rgb(217, 248, 169);}
  .menu{float:right;background-color: rgb(60, 100, 0);padding: 20px 20px;}
.menu li{list-style:none;;margin-right:10px;font-size:150%;align-items: center;margin: 30px;}
 a{text-decoration: none;color: white;}
 .mob{display:block;height: 50px;width: 50px;position:absolute;top:15px;right:15px;z-index: 999;}
 .perfil{width:5%;display:inline;margin-bottom: 8px;border-radius:100%;margin-left:10px;margin-top:10px}
 /*Codigo padrão*/
 h1{display:inline-block;text-align: center;margin-left:40%;margin-top: 5px;font-size:150%;}
 .cab{background-color: rgb(113, 150, 58);color: white;}

 .but{width:30%;margin-top:15px;margin-left:10px;}
 .but2{width:30%;margin-top:15px;margin-left:10px;}
 .but3{width:30%;margin-top:15px;margin-left:10px;}

 h2{margin-left:80px;margin-top:20px;}
  .af li{list-style:none;}
.tarefa{width:50%;margin:10px;display:inline;margin-left:50px;}
.at{margin: left 15px !important;}
 .bp{margin-right:30px;}
 pi{text-align: left;}

 input[type="checkbox"].modoTela{position: relative;width: 80px;height: 40px;
  -webkit-appearance:none;background-color: rgb(243, 243, 243);outline: none;border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(85,85,85,0.2);transition: .2s;}
  input[type="checkbox"].modoTela::before{
          content: '';
          position: absolute;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          top: 0;
          left: 0;
          background-color: rgb(82,222,0);
          transform: scale(1.2);
          box-shadow: 0.2 5px rgba(0, 0, 0, 0.2);
          transition: .2s;}
  input:checked[type="checkbox"].modoTela::before{
          left:40px;
          background-color:rgb(0, 0, 0);}
          .container{width: 100%;height: 100%;}
          
          .newsletter {
            padding: 80px 0;
            background: rgb(113, 150, 58);
            }
            
            .newsletter .content {
            max-width: 650px;
            margin: 0 auto;
            text-align: center;
            position: relative;
            z-index: 2; }
            .newsletter .content h2 {
            color: white;
            margin-bottom: 40px; }
            .newsletter .content .form-control {
            height: 50px;
            border-color: #ffffff;
            border-radius:0;
            }
            .newsletter .content.form-control:focus {
            box-shadow: none;
            border: 2px solid #243c4f;
            }
            .newsletter .content .btn {
            min-height: 50px; 
            border-radius:0;
            background: #243c4f;
            color: #fff;
            font-weight:600;
            }


            .row.heading h2 {
              color: #fff;
              font-size: 52.52px;
              line-height: 95px;
              font-weight: 400;
              text-align: center;
              margin: 0 0 40px;
              padding-bottom: 20px;
              text-transform: uppercase;
          }
          ul{
            margin:0;
            padding:0;
            list-style:none;
          }
          .heading.heading-icon {
              display: block;
          }
          .padding-lg {
            display: block;
            padding-top: 60px;
            padding-bottom: 60px;
          }
          .practice-area.padding-lg {
              padding-bottom: 55px;
              padding-top: 55px;
          }
          .practice-area .inner{ 
               border:1px solid #999999; 
             text-align:center; 
             margin-bottom:28px; 
             padding:40px 25px;
          }
          .our-webcoderskull .cnt-block:hover {
              box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
              border: 0;
          }
          .practice-area .inner h3{ 
              color:#3c3c3c; 
            font-size:24px; 
            font-weight:500;
            font-family: 'Poppins', sans-serif;
            padding: 10px 0;
          }
          .practice-area .inner p{ 
              font-size:14px; 
            line-height:22px; 
            font-weight:400;
          }
          .practice-area .inner img{
            display:inline-block;
          }
          
          
          .our-webcoderskull{
            background: #d9f8a9;
            
          }
          .our-webcoderskull .cnt-block{ 
             float:left; 
             width:100%; 
             background:lightgreen             ; 
             padding:30px 20px; 
             text-align:center; 
             border:2px solid #d5d5d5;
             margin: 0 0 28px;
          }
          .our-webcoderskull .cnt-block figure{
             width:148px; 
             height:148px; 
             border-radius:100%; 
             display:inline-block;
             margin-bottom: 15px;
          }
          .our-webcoderskull .cnt-block img{ 
             width:148px; 
             height:148px; 
             border-radius:100%; 
          }
          .our-webcoderskull .cnt-block h3{ 
             color:#2a2a2a; 
             font-size:20px; 
             font-weight:500; 
             padding:6px 0;
             text-transform:uppercase;
          }
          .our-webcoderskull .cnt-block h3 a{
            text-decoration:none;
            color:#2a2a2a;
          }
          .our-webcoderskull .cnt-block h3 a:hover{
            color:#337ab7;
          }
          .our-webcoderskull .cnt-block p{ 
             color:#2a2a2a; 
             font-size:13px; 
             line-height:20px; 
             font-weight:400;
          }
          .our-webcoderskull .cnt-block .follow-us{
            margin:20px 0 0;
          }
          .our-webcoderskull .cnt-block .follow-us li{ 
              display:inline-block; 
            width:auto; 
            margin:0 5px;
          }
          .our-webcoderskull .cnt-block .follow-us li .fa{ 
             font-size:24px; 
             color:#767676;
          }
          .our-webcoderskull .cnt-block .follow-us li .fa:hover{ 
             color:#025a8e;
          }

          * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
          

.tarefa-container{
  width: 80%;
  display: flex;
  align-items: center;
}
.btn-secondary{
    background-color: rgb(185, 99, 0);
    border-color: black;
}
.btn-danger{
  background-color: rgb(124, 0, 0);
  border-color: black;
}
.btn-primary{
  background-color: rgb(16, 95, 0);
  border-color: black;
}

